.container{
    align-self: center;
}
#logo{
    text-align: center;
    width:100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
}
.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    padding:20px;
    width:100%;
}
h4{
    text-align: center;
    font-size: 30px;
}
#passwordDisplay{
    align-self: center;
    width: 100%;
}
#generate{
    background-color: lightsalmon;
    font-style: oblique;
    font-weight: bold;
    border-radius: 30%;
}
#copy{
    background-color: lime;
    font-style: oblique;
    font-weight: bold;
    border-radius: 30%;
}
button{
    stroke-linecap: round;
    shape-rendering: crispEdges;
}

